@font-face{
  font-family: playfair display bold;
  src: url("../fonts/PlayfairDisplay Bold.otf");
  font-weight: bold;
  }
  @font-face{
  font-family: playfair display bold italics;
  src: url("../fonts/PlayfairDisplay BoldItalic.otf");
  font-weight: bold;
  font-style: italic;
  }
  @font-face{
  font-family: playfair display italics;
  src: url("../fonts/PlayfairDisplay-Italics.otf");
  font-style: italic;
  }
  @font-face{
  font-family: playfair display;
  src: url("../fonts/PlayfairDisplay-Regular.otf");
  }
  @font-face{
  font-family: raleway light;
  src: url("../fonts/Raleway-Light.ttf");
  font-weight: lighter;
  }
  @font-face{
  font-family: raleway light italic;
  src: url("../fonts/Raleway-LightItalic.ttf");
  font-weight: lighter;
  font-style: italic;
  }
  @font-face{
  font-family: raleway medium;
  src: url("../fonts/Raleway-Medium.ttf");
  font-weight: normal;
  }
  @font-face{
  font-family: raleway medium italic;
  src: url("../fonts/Raleway-MediumItalic.ttf");
  font-weight: normal;
  font-style: inherit;
  }
