html{
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
  margin: 0px;
}

a{
  color: #e2574c;
  text-decoration: none;
}


.content{
  font-family: "raleway medium";
  text-align: center;
  font-size: 25px;
  margin-bottom: 150px;
}

/*--------------------------------------Nav-------------------------*/

hr {
   width: 95%;
   height: 2px;
   color: lightgrey;
   background-color: lightgray;
   border-style: none;
}

nav{
  height: 100px;
}

nav img{
  margin: 10px 10px 10px 10px;
}

nav ul{
  display: flex;
  flex: 1, 1, 100px;
  justify-content: space-around;
  text-align: center;
}

nav ul li{
  font-family: "raleway medium";
  font-weight: 900;
  margin: 0px 20px 0px 20px;
}

.top-images{
  display: flex;
  justify-content: space-between;
}

.aloha-logo{
  height: 80px;
  width: 150px;
  margin-left: 30px;
}

.shopping-cart{
  height: 65px;
  width: 65px;
  margin-right: 30px;
}


/*--------------------------------------Hero-------------------------*/

section{
  width: 100%;
  text-align: center;
  font-family: "playfair display";
  color: white;
  padding: 200px 0%;
  margin-top: 50px;
  background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)),
  url("../images/banner-girl.png"),
  url("../images/flower-bkgd.jpg");
  background-repeat: no-repeat;
  background-position:  center, 50% 50px;
  background-size: contain, 220px, cover;
}

section h1{
  font-family: "raleway medium";
  font-size: 2rem;
}

section h2{
  display: block;
  margin: auto;
  font-size: 4rem;
}


/*--------------------------------------Categories-------------------------*/

.catagories{
display: flex;
flex-wrap: wrap;
width: 100%;
font-family: "raleway medium";
font-size: 3rem;
color: white;
justify-content: space-around;
}

.mens{
  display: flex;
  padding: 133px 254px;
  background-image: url("../images/mens-category.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  margin: 10px;
}

.trends{
  display: flex;
  padding: 145px 96px;
  background-image: url("../images/trends-category.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  margin: 10px;
}

.glasses{
  display: flex;
  padding: 145px 96px;
  background-image: url("../images/glasses-category.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  margin: 10px;
}

.sale{
  display: flex;
  padding: 145px 125px;
  background-image: url("../images/sale-category.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  margin: 10px;
}

.bags{
  display: flex;
  padding: 145px 123px;
  background-image: url("../images/bags-category.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  margin: 10px;
}

.womens{
  display: flex;
  padding: 133px 227px;
  background-image: url("../images/womens-category.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  margin: 10px;
}

h3{
  font-family: "playfair display";
  text-align: center;
  font-size: 40px;
  margin-top: 100px;
  margin-bottom: 35px;
}


/*--------------------------------------Wheel-------------------------*/

body ul li img{
  height: 80%;
  width: 80%;
}

body ul p{
  display: inline-block;
  font-family: "raleway medium";
  text-align: center;
  font-size: 2rem;
}

body ul li{
  display: inline-block;
  margin: 0px 0px;
}

body ul li span{
  color: #e2574c;
  font-size: 3.2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
/*  font-family: */
}

/*--------------------------------------Pitch-------------------------*/

.pitch{
  background-image: url("../images/wave-bkgd.jpg");
  background-repeat: no-repeat;
  padding: 100px 25% 300px 25%;
  background-size: cover;
  background-position: bottom;
  width: 50%;
  height: 40%;
  text-align: center;
  margin: 0 auto;
}

.pitch p{
  margin-bottom: 75px;
  position: relative;
  bottom: 50%;
}

.pitch h3{
  position: relative;
  bottom: 50%;
}

/*--------------------------------------Button-------------------------*/

form{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;
  width: 700px;
}

input{
  display: flex;
  flex: 1,1;
  align-items: center;
  border-radius: 20px;
  border-style: none;
  height: 40px;
  width: 500px;
}

button{
  display: inline-block;
  border-style: none;
  border-radius: 20px;
  background: orangered;
  width: 150px;
  height: 38px;
}

.subscribe{
  margin: 0 auto;
  text-align: center;
}

/*--------------------------------------Footer-------------------------*/

footer{
  font-family: "playfair display";
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  font-size: 2rem;
  justify-content: center;
  color: white;
  background-color: darkslategray;
}

.copywrite{
  flex: 1, 1, 100px;
}

.contact{
   flex: 1, 1, 100px;
}

.location{
  flex: 1, 1, 100px;
  color: darkgrey;
}

footer p{
  font-family: "playfair display";
  text-align: center;
}

.linking{
  display: flex;
  justify-content: center;
  text-align: center;
}


@media all and (min-width: 600px){


}