@font-face{
  font-family: playfair display bold;
  src: url("../fonts/PlayfairDisplay Bold.otf");
  font-weight: bold;
  }
  @font-face{
  font-family: playfair display bold italics;
  src: url("../fonts/PlayfairDisplay BoldItalic.otf");
  font-weight: bold;
  font-style: italic;
  }
  @font-face{
  font-family: playfair display italics;
  src: url("../fonts/PlayfairDisplay-Italics.otf");
  font-style: italic;
  }
  @font-face{
  font-family: playfair display;
  src: url("../fonts/PlayfairDisplay-Regular.otf");
  }
  @font-face{
  font-family: raleway light;
  src: url("../fonts/Raleway-Light.ttf");
  font-weight: lighter;
  }
  @font-face{
  font-family: raleway light italic;
  src: url("../fonts/Raleway-LightItalic.ttf");
  font-weight: lighter;
  font-style: italic;
  }
  @font-face{
  font-family: raleway medium;
  src: url("../fonts/Raleway-Medium.ttf");
  font-weight: normal;
  }
  @font-face{
  font-family: raleway medium italic;
  src: url("../fonts/Raleway-MediumItalic.ttf");
  font-weight: normal;
  font-style: inherit;
  }






html{
  height: 100%;
  width: 100%;
}

body{
  width: 100%;
  margin: 0px;
}

a{
  color: #e2574c;
}

.container{
  width: 1240px;
  margin: 0 auto;
}

.content{
  font-family: "raleway medium";
  text-align: center;
  font-size: 25px;
  margin-bottom: 150px;
}


nav{
  height: 100px;
}

nav img{
  margin: 10px 10px 10px 10px;
}

nav ul{
  text-align: center;
  position: relative;
  bottom: 80px;
}

nav ul li{
  display: inline-block;
  font-family: "raleway medium";
  font-weight: 900;
  margin: 0px 20px 0px 20px;
}

.aloha-logo{
  height: 80px;
  width: 150px;
  margin-left: 30px;
}

.shopping-cart{
  float: right;
  height: 65px;
  width: 65px;
  margin-right: 30px;
}

.clear{
  clear: both;
}

section{
  text-align: center;
  font-family: "playfair display";
  font-size: 50px;
  color: white;
  padding: 300px;
  background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)),
  url("../images/banner-girl.png"),
  url("../images/flower-bkgd.jpg");
  background-repeat: no-repeat;
  background-position:  center, 50% 200px;
  background-size: auto, 350px, cover;
}

section h1{
  font-family: "raleway medium";
  font-size: 40px;
}

h3{
  font-family: "playfair display";
  text-align: center;
  font-size: 40px;
  margin-top: 100px;
  margin-bottom: 35px;
}

body ul li img{
  height: 80%;
  width: 80%;
}

body ul{
  list-style: none;
  margin: 10px auto;
  padding: 0px;
  text-align: center;
  white-space: nowrap;
}

body ul p{
  display: inline-block;
  text-align: center;
}

body ul li{
  display: inline-block;
  margin: 0px 0px;
  
}



footer p{
  display: block;
}

.linking{
  float: right;
}